.my-favorite-list {
    .my-favorites-card {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
    .create-new-fav {
        margin-bottom: 20px;
    }
    .my-favorite-item {
        .u-p-medium {
            display: table;
            width: 100%;
            cursor: pointer;
            .delete {
                float: right;
                margin: 0 5px;
            }
            .view {
                float: right;
                margin: 0 5px;
            }
        }
    }
}
