.my-favorite-list .create-new-fav {
  margin-bottom: 20px; }

.my-favorite-list .my-favorite-item .u-p-medium {
  display: table;
  width: 100%; }
  .my-favorite-list .my-favorite-item .u-p-medium .delete {
    float: right;
    margin: 0 5px; }
  .my-favorite-list .my-favorite-item .u-p-medium .edit {
    float: right;
    margin: 0 5px; }
