.order .total-order {
  text-align: center; }
  .order .total-order .c-state-card__content {
    margin: 0 auto; }

.modal-buttons-container {
  margin-bottom: 10px; }

.modal-button {
  margin-top: 10px !important; }
