.product-list {
    .vendor-filter {
        .c-btn {
            margin-bottom: 1px;
        }
        .c-dropdown__menu {
            width: max-content;
        }
    }
    .product-table {
        margin-top: 20px;
        table {
            display: table;
            @media screen and (max-width: 600px) {
                display: block;
            }
            thead {
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
            tbody {
                @media screen and (max-width: 600px) {
                    display: block;
                }
                tr {
                    display: flex;
                    justify-content: space-between;
                    @media screen and (max-width: 600px) {
                        padding: 0 0 30px;
                    }
                    .no {
                        width: 50px;
                        color: gray;
                        @media screen and (max-width: 600px) {
                            display: block;
                            width: 100%;
                            padding: 5px;
                            font-weight: bold;
                        }
                    }
                    .name {
                        @media screen and (max-width: 600px) {
                            display: block;
                            text-align: center;
                            padding: 5px;
                            width: 100%;
                            font-weight: bolder;
                            font-size: 16px;
                            white-space: normal;
                        }
                    }
                    .price {
                        width: 100px;
                        @media screen and (max-width: 600px) {
                            display: none;
                        }
                    }
                    .package {
                        width: 100px;
                        @media screen and (max-width: 600px) {
                            display: none;
                        }
                    }
                    .price-package {
                        display: none;
                        @media screen and (max-width: 600px) {
                            display: block;
                            text-align: center;
                            padding: 5px;
                            width: 100%;
                        }
                    }
                    .qty {
                        width: 100px;
                        input {
                            min-width: 50px;
                            text-align: center;
                        }
                        @media screen and (max-width: 600px) {
                            display: block;
                            text-align: center;
                            padding: 5px;
                            width: 100%;
                        }
                    }
                    .add-action {
                        width: 150px;
                        @media screen and (max-width: 600px) {
                            display: block;
                            text-align: center;
                            padding: 5px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.products-searchbar {
    width: 300px;
    height: 39px;
    margin-left: 2rem;
}

.products-cell-productname {
    & p:first-child {
        color: #5FB2E1;
        font-weight: 600;
    }
    p {
        color: #A9A9A9;
    }
}

.products-table-header {
    text-align: center;
}

.product-action-button {
    min-width: 115px;
}

.quantity-input > button {
    margin: 0!important;
    width: 50px;
}

.quantity-input {
    .quantity-field {
        width: 50px;
        text-align: center!important;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
