.order-item .order-details-container {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 660px) {
    .order-item .order-details-container {
      flex-direction: column; } }

.order-item .order-details-separator {
  display: none; }
  @media only screen and (max-width: 660px) {
    .order-item .order-details-separator {
      display: block;
      border: 1px solid rgba(34, 36, 38, 0.15);
      margin: 5px 0 5px 0; } }

@media only screen and (max-width: 660px) {
  .order-item .order-products-table {
    font-size: .85em; } }

.order-item .back-to-list {
  margin-bottom: 10px; }

.order-item .order-to {
  /*float: right;*/
  text-align: right; }
  @media only screen and (max-width: 660px) {
    .order-item .order-to {
      /*float: none;*/
      text-align: left; } }

.order-item .summary-list {
  display: inline-block; }
  .order-item .summary-list li {
    margin-bottom: 10px; }
    .order-item .summary-list li .label {
      color: gray; }
    .order-item .summary-list li .content {
      color: #333;
      font-size: 14px; }

.order-item .item-table {
  margin-bottom: 10px !important; }
  .order-item .item-table table {
    display: table; }
    .order-item .item-table table .quantity {
      width: 100px; }
    .order-item .item-table table .price-unit {
      width: 100px; }
    .order-item .item-table table .total-price {
      width: 100px; }

.order-item .sub-total {
  text-align: right; }
