.my-favorite-item {
    .title {
        text-align: center;
    }
    .add-product {
        float: right;
    }
    .product-table {
        margin-top: 20px;
        table {
            display: table;
            .no {
                width: 50px;
            }
            .price {
                width: 100px;
            }
            .unit {
                width: 100px;
            }
            .qty {
                width: 100px;
                input {
                    min-width: 50px;
                    text-align: center;
                }
            }
            .action {
                width: 100px;
            }
        }
    }
}