.cart {
    .cart-container {
        display: table;
        width: 100%;
        .checkout-box {
            float: right;
            .title {
                display: inline-block;
            }
            .price {
                float: right;
            }
        }
        .vendor-list {
            float: right;
        }
    }
}