.cart .empty-cart {
  text-align: center; }

.cart .cart-container .checkout-box {
  float: right; }
  .cart .cart-container .checkout-box .title {
    display: inline-block; }
  .cart .cart-container .checkout-box .price {
    float: right; }

.cart .cart-container .vendor-list {
  float: right; }
