.cart {
    .empty-cart {
        text-align: center;
    }
    .cart-container {
        .checkout-box {
            float: right;
            .title {
                display: inline-block;
            }
            .price {
                float: right;
            }
        }
        .vendor-list {
            float: right;
        }
    }
}
