.order-list .total-order {
  text-align: center; }
  .order-list .total-order .c-state-card__content {
    margin: 0 auto; }

.order-list .filter .search-filter {
  margin-bottom: 10px; }

.order-list .filter .status-filter {
  margin-right: 10px; }

@media only screen and (max-width: 767px) {
  .order-list .order-table table tbody tr td button {
    width: 100%; } }
