.order-list {
    .total-order {
        text-align: center;
        .c-state-card__content {
            margin: 0 auto;
        }
    }
    .filter {
        .search-filter {
            margin-bottom: 10px;
        }
        .status-filter {
            margin-right: 10px;
        }
    }
    .order-table {
        table {
            tbody {
                tr {
                    td {
                        button {
                            @media only screen and (max-width: 767px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
